.nav {
  height: 75px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.nav__list {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.nav__link {
  position: relative;
  color: #2f363e;
}
.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}
